<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
      <!--<img src="images/flat-avatar.png" class="user-avatar" />-->
      <h1>TECHSTREET</h1>
      <form >

        <div class="form-content">
          <div class="form-group">
            <input required type="text" class="form-control input-underline input-lg" name="username" placeholder="Email" [(ngModel)]="username">
          </div>

          <div class="form-group">
            <input required type="password" class="form-control input-underline input-lg" name="password" placeholder="Password" [(ngModel)]="password" >
          </div>
        </div>

        <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded" (click) = "loginUser()">Login</button>

      </form>


    </div>
  </div>

</div>
