<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

        <div class="text-center">
          <h2 class="brand">TECHSTREET</h2>
          <img src="../../assets/image/avatar.png" class="user-avatar" /><br />
          {{user_name}}
          <br />

          <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm" (click) = "logoutUser()"><h4>Logout</h4></a>
        </div>

        <ul class="nav nav-sidebar">

        </ul>

      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
