<div>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome {{fName}}{{''}}{{lName}} !</h1>
      <h2> Id {{uId}}</h2>
      <h2>Email {{email}}</h2>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <h1>New User</h1>
      <p> To add new user to the application, click on the "Add New Account" button and follow the steps.
      </p>
      <p>
        <a class="btn btn-lg btn-primary btn-black btn-outline btn-rounded">Add New Account</a>
      </p>
    </div>
  </div>
</div>
